<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/pageTemplate.css">
</head>
	<body>
	<div class="page-wrap">
	<div class="header-wrap">
	<div class=site-header unselectable="on">foolsCode.blog</div>
	<div class="navWrap">
		<ul>
			<a href="index.shtml"><li class="nav0">home</li></a><!--
			--><a href="blog.shtml"><li class="nav1">blog</li></a><!--
  			--><li class="nav2">linux</li><!--
  			--><li class="nav4">contact</li>
		</ul>
	</div>
	</div>
  	<div class="content">
    